@import url("reset.css");
@import url("fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
    font-family: "Lato", sans-serif;
    font-size: 16px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.header {
    width: 100%;
    background-color: rgb(0, 48, 52);
}
label {
    display: block;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
.container {
    max-width: 960px;
    margin: 0px auto;
    padding: 10px;
}
.header-wrapper {
    display: flex;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0px 10px;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
}
.header-navbar {
    display: flex;
    align-items: center;
    padding: 5px 0px;
}
.navbar-logo {
    display: flex;
    align-items: center;
    max-width: 200px;
    font-size: 20px;
    line-height: 22px;
    color: rgb(223, 221, 221);
    font-weight: 600;
    letter-spacing: 5px;
    word-wrap: break-word;
    text-align: center;
    z-index: 51;
}

.navbar-menu {
    display: flex;
}
.header-wrapper a {
    text-transform: uppercase;
}
.navbar-menu a {
    display: block;
    margin-right: 10px;
    color: rgb(223, 221, 221);
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    letter-spacing: 1.8px;
    border: 1px solid rgb(223, 221, 221);
    transition: all 0.1s ease-in-out;
}
.navbar-menu a:hover {
    border: 1px solid rgba(3, 221, 255, 0.516);
    color: rgba(3, 221, 255, 0.885);
}
.navbar-menu a:active {
    transform: translateY(2px);
}
.navbar-menu ._icon-cart,
.navbar-menu ._icon-profile {
    font-size: 20px;
    border: none;
    margin-right: 0px;
    font-weight: normal;
    letter-spacing: normal;
}
.navbar-menu .cart-title,
.navbar-menu .profile-title {
    display: none;
}
.navbar-menu ._icon-cart:hover,
.navbar-menu ._icon-profile:hover {
    border: none;
}
.burger-menu {
    display: none;
    position: relative;
    align-items: center;
    height: 19px;
    cursor: pointer;
    z-index: 50;
}
.burger-menu span {
    height: 2px;
    width: 30px;
    background-color: white;
    transform: scale(1);
}
.burger-menu::before,
.burger-menu::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: white;
    transition: all 0.2s ease-in-out;
}
.burger-menu::before {
    top: 0;
}
.burger-menu::after {
    bottom: 0;
}
.burger-menu.active span {
    transform: scale(0);
}
.burger-menu.active::before {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
}
.burger-menu.active::after {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg);
}
.open-menu {
    transform: translateY(100%);
}
.custom-select {
    display: block;
    width: 100%;
    height: 40px;
    padding: 3px 5px 3px 10px;
    appearance: none;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 -4.5 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Earrow_down %5B%23339%5D%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Dribbble-Light-Preview' transform='translate(-180.000000, -6684.000000)' fill='%23000000'%3E%3Cg id='icons' transform='translate(56.000000, 160.000000)'%3E%3Cpath d='M144,6525.39 L142.594,6524 L133.987,6532.261 L133.069,6531.38 L133.074,6531.385 L125.427,6524.045 L124,6525.414 C126.113,6527.443 132.014,6533.107 133.987,6535 C135.453,6533.594 134.024,6534.965 144,6525.39' id='arrow_down-%5B%23339%5D'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
    border: 1px solid #909090;
}

.form-row {
    margin-bottom: 20px;
    color: #584848;
}
.form-row input {
    border: 1px solid #909090;
    padding: 7px;
    width: 100%;
}
.form-row * {
    color: #584848;
}
.form-row label {
    letter-spacing: 4px;
    text-transform: uppercase;
}
.password-input-container {
    position: relative;
    margin-bottom: 10px;
}
.toggle-password-visibility-icon {
    position: absolute;
    padding: 2px 10px;
    height: 100%;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
}
.toggle-password-visibility-icon svg {
    width: 25px;
    height: 25px;
}
.toggle-password-visibility-icon svg path {
    transition: all 0.2s ease-in-out;
}
.toggle-password-visibility-icon:hover svg path {
    fill: #474747;
}
.toggle-password-visibility-icon.active svg path {
    fill: #0084a5;
}
.toggle-password-visibility-icon.active:hover svg path {
    fill: #04cbfd;
}
.submit-button {
    padding: 15px;
    border-radius: 8px;
    text-transform: uppercase;
    width: 100%;
    color: white;
    background-color: #22aa58;
    letter-spacing: 2px;
    transition: all 0.1s ease-in-out;
}
.submit-button:hover {
    background-color: #166335;
}
.submit-button:active {
    background-color: #2bbd68;
}
.page-title hr {
    height: 2px;
    background-color: black;
    margin: 20px 0px;
}
.page-title h2 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8px;
}
.birthday-form-row .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.birthday-form-row .row .form-row:not(:last-child) {
    padding-right: 5px;
}
.birthday-form-row input {
    margin-right: 10px;
}
.birthday-form-row .form-row {
    width: 160px;
}
.form-row-title,
.row-title {
    font-size: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.error-message {
    color: #ff0000;
}
.password-req-row {
    display: flex;
}
.password-req-row .col {
    width: 100%;
}
.password-req ul li {
    list-style-type: disc;
    float: left;
    width: 45%;
}
.password-req ul {
    padding: 10px 0px 0px 20px;
    margin-bottom: 20px;
}
.alert-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    margin: 0px 0px 40px;
    word-wrap: break-word;
    padding: 5px;
}
.success-message {
    color: #00780f;
    background-color: #87f394;
    border: 1px solid #00780f;
}
.failure-message {
    color: #ff0000;
    background-color: #ffa6a6;
    border: 1px solid #ff0000;
}
.checkbox-row label {
    display: inline;
    text-transform: none;
    margin-bottom: 0px;
    letter-spacing: 2px;
    margin-left: 3px;
}
.checkbox-row input {
    width: auto;
}
.add-link {
    margin: 0px auto;
    max-width: 200px;
}
.add-link a {
    display: block;
    width: 200px;
    text-align: center;
    padding: 10px;
    background-color: #2a8eab;
    color: #fff;
}
.add-link a:hover {
    background-color: #1c6175;
}

form {
    max-width: 500px;
    margin: 0px auto;
}
.list-row {
    padding: 20px 10px;
    border: 1px solid #acacac;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #e7e7e7;
}
.change-link {
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    border-radius: 10px;
    background-color: #009b4e;
    text-align: center;
}
.delete-button {
    border-radius: 10px;
    padding: 3px 15px;
    background-color: #a90021;
}
.change-link:hover {
    background-color: #005a2d;
}
.delete-button:hover {
    background-color: #5f0012;
}
.continue-link {
    margin: 0px auto;
    max-width: 200px;
    margin-top: 20px;
    background-color: #009b4e;
}
.continue-link a {
    display: block;
    width: 200px;
    text-align: center;
    padding: 10px;
    color: #fff;
}
.continue-link:hover {
    background-color: #005a2d;
}
.row-hotel-media img {
    width: 125px;
    height: 100px;
}
.row-info {
    display: flex;
    flex-wrap: wrap;
}
.row-hotel-name {
    padding: 0px 5px;
}
.list-row .row {
    margin-bottom: 30px;
}
.row-info .col {
    padding: 10px 5px;
    border-right: 1px solid #808080;
}
.row-info .col:last-child {
    border-right: none;
}
.section-title {
    font-size: 24px;
    letter-spacing: 4px;
    margin-bottom: 40px;
}
.hotel-page {
    color: #4c4a4a;
    padding-top: 50px;
}
.hotel-header {
    text-align: center;
    margin-bottom: 60px;
}

.hotel-title {
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: capitalize;
    color: #333333;
}
.hotel-page .nav {
    display: flex;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}
.hotel-page .nav li {
    width: 50%;

    padding: 2px;
    background-color: #f0f0f0;
    border: 1px solid #dcdcdc;
    cursor: pointer;
}
.hotel-page .nav li a {
    display: block;
    font-size: 30px;
    color: #4c4a4a;
    width: 100%;
}
.hotel-page .nav li a:hover {
    color: #000000;
}
.hotel-page .nav li:not(:last-child) {
    border-right: none;
}
.hotel-page .nav li:hover {
    color: #000000;
    background-color: #c8d6ff;
}

.hotel-page .nav li.active {
    border-bottom: 5px solid #000000;
}
.actions,
.hotel-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.actions form {
    width: 100%;
}
.actions form button {
    width: 100%;
}
.search-property-bar {
    position: absolute;
    max-width: 960px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    background-color: rgba(180, 191, 129, 0.96);
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
    margin: 0 auto;
}
.search-details {
    display: flex;
    justify-content: space-evenly;
}
.search-property-bar input:focus {
    border-color: rgb(6, 1, 93);
}
.form-input {
    display: block;
    width: 100%;
    height: 25px;
    padding: 3px 10px;
    border: 1px solid white;
}

.search-property-bar .col {
    max-width: 100%;
    flex-grow: 1;
    padding-right: 10px;
}
.col-location {
    min-width: 215px;
    padding-left: 10px;
}
.col-date-pickers {
    display: flex;
    padding-left: 0px;
    min-width: 290px;
}
.col-checkin {
    width: 50%;
}
.col-checkout {
    width: 50%;
}

.col-select {
    min-width: 85px;
}
.submit-prop-search-btn {
    min-height: 55px;
    width: 100%;
    color: white;
    background-color: rgb(0, 155, 70);
    transition: all 0.06s ease-in-out;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 10px;
    letter-spacing: 2px;
}
.submit-prop-search-btn:hover {
    background-color: rgb(0, 73, 33);
}
.submit-prop-search-btn:active {
    background-color: rgb(147, 147, 147);
}
.search-property-bar .col.col-button {
    min-width: 190px;
    min-height: 55px;
}

.col-guests input {
    cursor: default;
    border: none;
}
.room-list {
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.search-property-bar .room-list hr {
    margin: 10px 0px;
    border-top: 1px solid rgba(66, 66, 66, 0.665);
    box-sizing: content-box;
}
.room-list-row {
    display: flex;
}
.search-property-bar .room-list .col.col-button {
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
}
.close-room-list-button {
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
}
.close-room-list-button:hover {
    background-color: rgb(124, 0, 0);
}

.search-property-bar .room-list .room-info-group .col {
    max-width: 15%;
}
.room-info-group {
    margin: 0px 20px;
    padding: 20px 0px;
}
.search-property-bar form {
    max-width: fit-content;
    margin: 0;
}
.reserve-link {
    display: block;
    padding: 20px;
    color: #fff;
    background-color: #6585b0;
    border-radius: 4px;
}
.reserve-link:hover {
    background-color: #334358;
}
.cart-link {
    position: relative;
}
.cart-indicator {
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    transform: translate(80%, -60%);
}
.unreserve-btn {
    padding: 20px;
    color: #fff;
    background-color: #732325;
    border-radius: 4px;
}
.unreserve-btn:hover {
    background-color: #331011;
}
.not-found-message {
    font-size: 30px;
    text-align: center;
}
.hidden {
    display: none !important;
}
@media (max-width: 963.98px) {
    .search-details {
        display: block;
    }
    .search-property-bar form {
        max-width: 100%;
    }
    .search-property-bar {
        width: 100%;
        background-color: rgb(180, 191, 129);
        padding: 30px 20px;
    }
    .search-property-bar .search-details .col {
        padding-right: 0px;
        margin-bottom: 20px;
    }
    .search-property-bar .search-details .col.col-button {
        margin-bottom: 0px;
    }
    .search-property-bar .search-details .col.col-checkin {
        padding-right: 10px;
        margin-bottom: 0px;
    }
    .search-property-bar .search-details .col.col-checkout {
        margin-bottom: 0px;
    }
    .col-location {
        padding-left: 0px;
    }
    .search-property-bar .room-list .room-info-group .col {
        min-width: 100px;
    }
    .room-list-row {
        justify-content: space-between;
    }
}
@media (max-width: 767.98px) {
    .burger-menu {
        display: flex;
    }
    .header-navbar {
        position: fixed;
        width: 100%;
        height: 100%;
        flex-direction: column;
        top: -100%;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 100px 10px 10px 10px;
        justify-content: flex-start;
        background-color: black;
        z-index: 50;
        transition: all 0.2s ease-in-out;
    }
    .navbar-menu {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        text-align: center;
        row-gap: 10px;
    }
    .navbar-menu .cart-title,
    .navbar-menu .profile-title {
        display: block;
    }
    .navbar-menu .cart-icon,
    .navbar-menu .profile-icon {
        display: none;
    }
    .header-wrapper {
        position: relative;
        justify-content: center;
    }
    .burger-menu {
        position: absolute;
        left: 5px;
    }
}
@media (max-width: 590px) {
    .password-req ul li {
        width: 100%;
        float: none;
    }
}
