.header {
    box-shadow: inset 0px 75px 20px 0px rgba(48, 42, 45, 0.55);
    background-color: transparent;
}
.home-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 130vh;
    top: 0;
    left: 0;
}
.home-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-wrapper {
    margin: 60px 10px 10px 10px;
    width: 100%;
}
.home-search-property-bar {
    position: absolute;
    max-width: 960px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    background-color: rgba(180, 191, 129, 0.96);
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
    margin: 0 auto;
}
.search-details {
    display: flex;
    justify-content: space-evenly;
}
.form-input {
    display: block;
    width: 100%;
    height: 25px;
    padding: 3px 10px;
    border: 1px solid white;
}
.home-search-property-bar input:focus {
    border-color: rgb(6, 1, 93);
}
.col {
    max-width: 100%;
    flex-grow: 1;
    padding-right: 10px;
}
.col-location {
    min-width: 215px;
    padding-left: 10px;
}
.col-date-pickers {
    display: flex;
    padding-left: 0px;
    min-width: 290px;
}
.col-checkin {
    width: 50%;
}
.col-checkout {
    width: 50%;
}

.col-select {
    min-width: 85px;
}
.submit-prop-search-btn {
    min-height: 55px;
    width: 100%;
    color: white;
    background-color: rgb(0, 155, 70);
    transition: all 0.06s ease-in-out;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 10px;
    letter-spacing: 2px;
}
.submit-prop-search-btn:hover {
    background-color: rgb(0, 73, 33);
}
.submit-prop-search-btn:active {
    background-color: rgb(147, 147, 147);
}
.home-search-property-bar .col.col-button {
    min-width: 190px;
    min-height: 55px;
}

.col-guests input {
    cursor: default;
    border: none;
}
.room-list {
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.home-search-property-bar .room-list hr {
    margin: 10px 0px;
    border-top: 1px solid rgba(66, 66, 66, 0.665);
    box-sizing: content-box;
}
.room-list-row {
    display: flex;
}
.home-search-property-bar .room-list .col.col-button {
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
}
.close-room-list-button {
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
}
.close-room-list-button:hover {
    background-color: rgb(124, 0, 0);
}

.home-search-property-bar .room-list .room-info-group .col {
    max-width: 15%;
}
.room-info-group {
    margin: 0px 20px;
    padding: 20px 0px;
}
.custom-select {
    border: none;
    height: 25px;
}
form {
    max-width: fit-content;
    margin: 0;
}
@media (max-width: 963.98px) {
    .header {
        box-shadow: none;
        background-color: #003034;
    }
    .home-wrapper {
        margin: 0px;
    }
    .search-details {
        display: block;
    }
    .home-search-property-bar {
        width: 100%;
        background-color: rgb(180, 191, 129);
        padding: 30px 20px;
    }
    .home-search-property-bar .search-details .col {
        padding-right: 0px;
        margin-bottom: 20px;
    }
    .home-search-property-bar .search-details .col.col-button {
        margin-bottom: 0px;
    }
    .home-search-property-bar .search-details .col.col-checkin {
        padding-right: 10px;
        margin-bottom: 0px;
    }
    .home-search-property-bar .search-details .col.col-checkout {
        margin-bottom: 0px;
    }
    .col-location {
        padding-left: 0px;
    }
    .home-search-property-bar .room-list .room-info-group .col {
        min-width: 100px;
    }
    .room-list-row {
        justify-content: space-between;
    }
}
