.preview-link {
    padding: 5px 15px;
    background-color: #2a8eab;
    color: #fff;
    border-radius: 10px;
}
.preview-link:hover {
    background-color: #1c6175;
}
.row-title {
    font-size: 16px;
    margin-bottom: 5px;
    padding: 2px 5px;
    letter-spacing: 1px;
}
.row-info {
    margin-bottom: 20px;
}
.user-info .row-info {
    margin-bottom: 0px;
}
